



<div  class="jumbotron jumbotron-fluid">
  <div class="container" >
  <h1 class="display-4"> Customer: <%= @customer.first_name %> <%= @customer.last_name %> </h1>
 
  <p class="lead">
   <strong>Car license:</strong>
    <%= @customer.car_license %>
    <br>
    <strong>Phone:</strong>
    <%= @customer.phone %>
    <br>
    <strong>Email:</strong>
    <%= @customer.email %>
  </p>
  <hr class="my-4">

  <%= link_to 'Edit', edit_customer_path(@customer), class:"btn btn-dark" %> 
  <%= link_to 'Back', customers_path, class:"btn btn-dark" %>
</div>
</div>