



<div  class="jumbotron jumbotron-fluid">
  <div class="container" >
  <h1 class="display-4"> Job: <%= @repair.work_needed %></h1>
 
  <p class="lead">
   <strong>Make:</strong>
   <%= @repair.make %>
   <br>
   <strong>Model:</strong>
   <%= @repair.model %>
   <br>
    <strong>Plate:</strong>
   <%= @repair.plate %>
   <br>
   <strong>Status:</strong>
    <%= @repair.status %>
    <br>
  </p>
  <hr class="my-4">
   <%= link_to 'Edit', edit_repair_path(@repair), class:"btn btn-dark" %> 
  <%= link_to 'Back', repairs_path, class:"btn btn-dark" %>
</div>
</div>




