

<h1>Sales</h1>

<table class="table table-bordered table-striped table-secondary table-hover">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Features</th>
      <th>Mileage</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.make %></td>
        <td><%= sale.model %></td>
        <td><%= sale.year %></td>
        <td><%= sale.features %></td>
        <td><%= sale.mileage %></td>
        <td><%= sale.price %></td>
        <td><%= link_to 'Show', sale, class:"btn btn-light btn-sm" %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale), class:"btn btn-light btn-sm" %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-light btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path, class:"btn btn-dark" %>
